*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0a0a23;
    --secondary-color: #1b1b32;
    --green-color: #37af65;
    --highlight-blue: #002ead;
    --gray-color: hsl(0deg 0% 84%);
    --dark-gray: hsl(0deg 0% 55%);
    --highlight-yellow: hsl(37deg 96% 45%);
    --top-spacing: 100px;
    --top-spacing-responsive: 230px
}

.clearfix::after,
.clearfix::before {
	content: "";
	display: block;
	clear: both;
}

/* || GENERAL STYLES */

html {
    scroll-padding-top: var(--top-spacing); /* Solve the overlapping of Fixed Header and On-page Link*/
}

    @media screen and (max-width: 690px) {
        html {
            scroll-padding-top: var(--top-spacing-responsive);
        }
    }

body {
	/* font-size: 62.5%; */
	font-size: 100%;
	line-height: 1.5;
    font-family: "Roboto", sans-serif;
}



/* || UTILITIES */

.title {
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: 'Lexend Mega', sans-serif;
}

.no-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-control {
    max-width: 100%;
    display: block;
}

.icon::before { /* Common Properties: All required to make icons render reliably */
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }



/* --------------------------------- */

#wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0!important;
    overflow: hidden;
    background-color: var(--gray-color)
}


/* || HEADER */


#header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 8rem;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: var(--gray-color);
    box-shadow: 0 4px 6px 0 rgb(12 0 46 / 5%);
    z-index: 2;
}

.sticky + #container {
    padding-top: 5rem;
}


#container {
    padding-left: 8rem;
    padding-right: 8rem;
    color: var(--secondary-color);
}

#header-img {
    max-width: 3rem;
   
}

.menu-button {
    display: none;
    position: absolute;
    right: 0;
    padding-top: .5rem;
    cursor: pointer;

    font-size: 2rem;
    color: var(--secondary-color);
}

#nav-bar {
    padding-top: .5rem;
}
  
.nav-list {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    font-family: 'Lexend Mega', sans-serif;
}

#nav-list li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0 2rem;
    color: var(--secondary-color);
}

.nav-link:last-child {
   padding-right: 0;
}

.nav-link:hover {
    color: var(--highlight-yellow);
    font-weight: bold;
}


@media screen and (max-width: 690px) {
    #header{
        flex-direction: column;
    }

    .menu-button {
        display: block;
        padding-right: 2rem;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        text-align: center;
        padding-left: 0;
    }

    .nav-link {
        padding-left: 0;
    }

    #nav-list li {
        padding-top: .5rem;
    }

    .show-collide {
        display: block;
    }
    
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.header-title-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 650px) {
    .header-container {
        flex-direction: column-reverse;
        margin-top: 3rem;
    }

    .header-title-section {
        text-align: center;
        margin-top: 1rem;
    }
}

.header-title {
    font-size: 2.5rem;
}

.header-subtitle {
    font-size: 1.375rem;

}

.header-img-section img {
    max-width: 100%;
}

/* || FEATURES */

.features-section {
    display: flex;
    justify-content: space-between;
}

.features-video-container {
    position: relative;
    overflow: hidden;
    padding-top: 26%; /* Aspect Ratio (divide height by width = paddin-top * 100%) */
    width: 50%;
}

.features-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.features-list-section {
    padding-left: 3rem;
    max-width: 50%;
}

.features-description {
    font-size: 1.25rem;
}

@media screen and (max-width: 650px) {
    .features-section {
        max-width: 100%;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;

    }

    .features-video-container {
        padding-top: 56.25%;
        width: 100%;
    }

    .features-list-section {
        max-width: 30rem;
        margin: 0 auto;
        padding: 3rem 1rem;
        width: 100%;
        
    }

    .features-description {
        text-align: center;
        padding-bottom: 1.5rem;
    }
}

/*  || TESTIMONIALS */

.testimonials-section {
    display: flex;
    justify-content: space-evenly;
}

.testimonials-container {
    max-width: 25rem;
    text-align: center;
    padding: 1rem 2rem;
    
}

@media screen and (max-width:650px) {
    .testimonials-section{
        flex-direction: column;
    }

    .testimonials-container {
        margin: 0 auto;
        padding: 1rem .5rem;
        width: 100%;
    }
    
}

.profile-pic {
    border-radius: 50%;
}

.name {
    font-weight: bold;
}

.testimony {
    margin-top: 1rem;
}

/* || CONTACT */

#contact {
    margin-bottom: 4rem;
}

.contact-section {
    max-width: 30rem;
    margin: 0 auto;
    padding: 1rem;
}

#form {
    display: flex;
    justify-content: space-between;
}

.input-email {
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1rem;
    
}

.input-email:focus {
    outline: none!important;
    border: 2px solid var(--highlight-yellow);
}

.submit {
    border: none;
    border-radius: 5px;
    margin-left: 1rem;
    padding: .8rem 1.2rem;
    cursor: pointer;
    background-color: var(--highlight-yellow);
    color: var(--gray-color);
    font-weight: bold;
    font-size: 1.2rem;
}

    @media screen and (max-width: 650px) {
        .contact-section {
            padding: 0;
        }
    }

    @media screen and (max-width: 550px) {
        .contact-subtitle {
            text-align: center;
        }
        
        #form {
            flex-direction: column;
        }

        .submit {
            margin-left: 0;
           
        }
    }

    @media screen and (max-width: 400px) {
        .submit {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
    }

.submit:hover {
    background-color: var(--secondary-color);
    color: white;
}

/* || FOOTER */

#footer {
    width: 100%;
    background-color: var(--secondary-color);
    color: white;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-right: 8rem;
    padding-left: 8rem;
}

@media screen and (max-width: 900px) {
    #header,
    #container,
    #footer {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (max-width: 750px) {
    #header,
    #container,
    #footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.footer-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-subsection {
    max-width: 20rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    width: 100%;
   
}


.footer-subsection:nth-child(1) {
    padding-left: 0;
}

.footer-subsection:nth-child(2) {
    position: relative;
}

.footer-subsection:nth-child(3) {
    padding-right: 0;
}
  

.footer-subsection-title {
    margin-bottom: 1rem;
}

.footer-subsection-list {
    padding-left: 2rem;
}

.footer-subsection-list > li {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    margin-top: 10px;
}




.footer-subsection-list li:nth-child(1):before,
.footer-subsection-list li:nth-child(2):before,
.footer-subsection-list li:nth-child(3):before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 1.25;
    left: 2.5rem;
    position: absolute;
    color: var(--gray-color);
}

.footer-subsection-list li:nth-child(1):before {
    content: "\f3c5";
}

.footer-subsection-list li:nth-child(2):before {
    content: "\f879";
}

.footer-subsection-list li:nth-child(3):before {
    content: "\f0e0";
}

.footer-sm-icons-section {
    display: flex;
}

.footer-sm-icons-section a {
    text-decoration: none!important;
}

.footer-sm-icon {
    padding-right: .8rem;
    color: var(--gray-color);
    font-size: 1.8rem;
    
}

.footer-sm-icons-section a:hover {
    color: var(--highlight-yellow);
    font-size: 1.9rem;
}

.footer-credits {
    max-width: 100%;
    margin-top: 3rem;
}

    @media screen and (max-width: 650px) {
        .footer-container {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .footer-subsection {
            margin: 1rem auto;
            padding: 0;
        }

        .footer-subsection-title {
            text-align: center;
        }

        .footer-aboutus-content {
            text-align: center;
        }

        .footer-subsection-list > li {
            text-align: center;
            margin: 10px auto;
        }

        .footer-subsection-list li:nth-child(1):before,
        .footer-subsection-list li:nth-child(2):before,
        .footer-subsection-list li:nth-child(3):before {
            left: 5.5rem;

        }    
        
        .footer-sm-icons-section {
            justify-content: center;
        }
    }

    @media screen and (max-width: 400px) {
        .footer-subsection-list li:nth-child(1):before,
        .footer-subsection-list li:nth-child(2):before,
        .footer-subsection-list li:nth-child(3):before {
            left: 4.5rem;

        }   
    }
    
    @media screen and (max-width: 350px) {
        .footer-subsection-list li:nth-child(1):before,
        .footer-subsection-list li:nth-child(2):before,
        .footer-subsection-list li:nth-child(3):before {
            left: 3.5rem;

        }   
    }

.footer-credits p {
    font-size: 14px;
    text-align: center;
}





